body {
    background-image: url('../images/santas_bibliotecas_batman.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* Agrega más propiedades de estilo según sea necesario */
}
